runs/
doc/
result_pth/
data/
.ipynb_checkpoints/
__pycache__/
wandb/
test/
lab.py
*.pth
test_*.py
config.py
config_temp.py
config_temp2.py
explain/
multicolor_shapes_pth/
/文件/master-degree-paper/main.pdf
detect/
showout/
Another_show/
single_detect/


.idea/
config/

2025_analyze/
.vscode/
caltech101_images/
cifar10_images/
config_example copy.py
config_v3.py
head_analysis_results/
pvt_analysis_output/
vit_analysis_output/