runs/
doc/
result_pth/
data/
.ipynb_checkpoints/
__pycache__/
wandb/
test/
lab.py
*.pth
test_*.py
config.py
config_temp.py
config_temp2.py
explain/
multicolor_shapes_pth/
/文件/master-degree-paper/main.pdf
detect/
showout/
Another_show/
single_detect/
head_analysis_results/

.idea/
config/

# 2026 新增
.vscode/
2025_analyze/
caltech101_images/
cifar10_images/
vit_analysis_output/
pvt_analysis_output/